/* a {
    padding: 1rem 2rem;
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 1rem;
    text-decoration: none;
}
a:hover {
    background-color: aqua;
} */
/* .coin {
    max-height: 1rem;
} */