
/* Footer part  */

footer img[src$=".svg"]{ /*Selects every img with a src that ends in .svg*/
    height: 1.8rem;
}
footer {
    height: 20vh;
    background-color: #027200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
footer ul {
    list-style: none;
}
footer a {
    color: white;
    text-decoration: none;
}
footer img[src$=".png"] {
    height: 7rem;
}
/* Nav part  */

.nav2 {
    background-color: #285C4D;
    height: 10vh;
    display: flex;
}
.nav2 img[src$="cart.png"]{
    height: 3rem;
}
.nav2 ul {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.nav2 a {
    text-decoration: none;
    color: white;
}
.nav2 li {
    font-size: xx-large;
}
.nav2 .DropDownC {
    font-size: large;
}
.DropDownL {
    position: relative;
    display: inline-block;
}
.DropDownC {
    display: none;
    position: absolute;
    background-color: #285C4D;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    align-items: center;
}
  
.DropDownL:hover .DropDownC {
    display: block;
}

.material-symbols-outlined {
    color: white;

}
.nav2 a[href$=".html"]:hover {
    text-decoration: underline;
}
