* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth
}
/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Header part home */

.HomeHeader {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/REXpeditions/Jurassic-Images/Banner.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}
.home-w {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin: auto;
}
.HomeHeader h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 9rem;
    width: 100%;
    text-align: center;
}

.HomeHeader p {
    width: 100%;
    font-size: 1.5rem;
}

.HomeHeader a {
    background-color: #53BC5B;
    padding: 1rem 5%;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    margin-top: 2rem; 

}

/* normal header */

.Nheader {
    height: 10vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/REXpeditions/Jurassic-Images/Banner2.png);
    background-size: cover;
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}



/* premium tours index */

.Premium-Tours {
    background-color: #577c60;
    max-height: 60vh;
}

.Premium-Tours h2{
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
}

.Wrapper-P {
    width: 80%;
    margin: auto    ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.P-Tour img {
    margin-top: 1rem;
    width: 90%;
    object-fit: cover;
}
.P-Tour {
    width: 30%;
    /* background-color: #C6C89B; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}
.P-Tour h3 {
    text-align: center;
    font-size: 2rem;
    width: 100%;
}
.P-Tour p {
    width: 90%;
    font-size: large;
    margin:1rem 0;
}
.P-Tour a {
    background-color: #7FD9FC;
    padding: 1rem 2rem;
    border-radius: .8rem;
    margin-bottom: 3rem;
    border: solid black 1px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* basic tours index */

.Basic-Tours h2{
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
}

.Wrapper-B {
    position: relative;
    margin: 0 auto;
    max-width: 80rem;
}
.slides-B {
    display: flex;
    overflow-x: hidden;
    aspect-ratio: 32/10;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
}

.B-Tour {
    max-width: 80rem;
    flex:1 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    background-color: #E1FAFF;
    justify-content: space-between;
}

.B-Tour-L {
    margin:  0 auto;
    width: 48%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.B-Tour img {
    width: 48%;
    height: 100%;
    object-fit: contain;
}

.B-Tour h3 {
    width: 100%;
    font-size: 2rem;
}
.B-Tour p {
    font-size: 1.5rem;
}
.B-Tour a {
    background-color: #7FD9FC;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 80%;
}
.B-Nav {
    width: 4rem;
    display: flex;
    margin: auto;
    column-gap: 1rem;
    
}
.B-Nav a {
    background-color: gray;
    padding: 1rem;
    border-radius: 50%;
}
/* what is index  */

.WhatIs {
    display: flex;
    flex-flow: row wrap;
}

.WhatIs-L {
    width: 40%;
}

.WhatIs img {
    width: 40%;
}

/* our staff about us */

.Our-Staff {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.Quote {
    display: flex;
    padding-left: 20rem;
}
.Staff {
    width: 30%;
}


/* premium tours tours */

.PremiumTours {
    display: flex;
    justify-content: center;
}
.PremiumTours img[src$=".jpg"] {
    width: 40%;
}
.PTL {
    width: 40%;
}